/* Regular Styles go below */

html {
    height: 100% !important;
    width: 100%;
    margin: 0;
}

body {
    background-image: url("../../your_content/images/bgTest2.png");
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
}

p, ul, a, em, b {
    font-family:'Rubik',sans-serif;
    color: #341a09;
}

h1, h2, h3, h4 {
    font-family: 'Underdog', cursive;
    color: #341a09;
}

h3 {
    font-size: 1.25em;
}

a {
    text-decoration: none;
    color: #68ad43;
}

header {
    display: grid;
    grid-template-areas:
        "logo"
        "social"
        "navigation";
    width: 100%;
}

#logo {
    grid-area: logo;
    width: 100%;
    max-height: 250px;
    margin: auto;
}

#logo a {
    background-image: url("../../your_content/images/Banner top.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    width: 100%;
    height: 175px;
    display: block;
    margin: auto;
}

header ul#social-links {
    grid-area: social;
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    /*align-content: flex-end;*/
    margin-bottom: 2px;
    z-index: 2;
    padding-left: 0;
}

header ul#social-links li {
    text-align: center;
    margin: 0 3px 0 3px;
    font-size: x-large;
    color: #341a09;
}

header ul#social-links li a {
    text-decoration: none;
    width: 30px;
    height: 100%;
    color: #f5debd;
    text-shadow: 0 0 3px #F35E36;
    transition: 0.2s ease;
}

header #social-links li a:hover {
    color: #fff;
    text-shadow: 0 0 5px #F35E36, 0 0 10px #fffad3;
    transition: 0.2s ease;
}

header ul#social-links li:nth-child(1) a {
    padding-right: 5px;
}

header ul#social-links li a span {
    display: none;
}

header ul#links-menu {
    grid-area: navigation;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    list-style-type: none;
    width: 100%;
    background-color: #341a09;
    z-index: 2;
    margin: 0;
    padding-left: 0;
}

header ul#links-menu li {
    min-width: 40px;
    padding: 0 10px;
    text-align: center;
    margin: 0 1px;
}

header ul#links-menu li a {
    color: #f5debd;
    text-shadow: 0 0 3px #F35E36;
    text-decoration: none;
    font-family: 'Underdog', cursive;
    transition: ease 0.2s;
}

header ul#links-menu li a:hover {
    color: #fff;
    text-shadow: 0 0 2px #F35E36, 0 0 3px #fffad3;
    transition: ease 0.2s;
}

/*.liveStream {*/
/*    display: none;*/
/*}*/

ul#links-menu .liveStream a {
    display: grid;
    grid-template-columns: 8px 1fr;
    grid-gap: 0.5em;
    grid-template-areas:
            "icon label label";
    align-items: center;
}

#page {
    background-image: url("../../your_content/images/bgTest3.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    padding-bottom: 30px;
}

#comic-page {
    text-align: center;
}

#comic-page img {
    box-shadow: 0 0 15px black;
}

#comic-navigation {
    text-align: center;
    padding: 10px 0;
    display: grid;
    grid-template-areas: "FirstPage PreviousPage PageNum NextPage LatestPage";
    justify-content: center;
}

#page-number {
    grid-area: PageNum;
    background-image: url("../../your_content/images/Icon_Blank.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 85px;
    width: 150px;
    display: flex;
}

#comic-navigation span {
    font-family: 'Underdog', cursive;
    font-size: xx-large;
    margin: auto;
    color: #e1df72;
    text-shadow: 0 0 2px #284532;
}

#first-link, #first-invalid, #previous-link, #previous-invalid, #next-link, #next-invalid, #latest-link, #latest-invalid {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 85px;
    width: 150px;
    text-indent: 100%;
    overflow: hidden;
    display: inline-block;
}

#first-link {
    background-image: url("../../your_content/images/Icon_First.png");
    grid-area: FirstPage;
}

#first-invalid {
    background-image: url("../../your_content/images/Icon_First2.png");
    grid-area: FirstPage;
}

#previous-link {
    background-image: url("../../your_content/images/Icon_Previous.png");
    grid-area: PreviousPage;
}

#previous-invalid {
    background-image: url("../../your_content/images/Icon_Previous2.png");
    grid-area: PreviousPage;
}

#next-link {
    background-image: url("../../your_content/images/Icon_Next.png");
    grid-area: NextPage;
}

#next-invalid {
    background-image: url("../../your_content/images/Icon_Next2.png");
    grid-area: NextPage;
}

#latest-link {
    background-image: url("../../your_content/images/Icon_Latest.png");
    grid-area: LatestPage;
}

#latest-invalid {
    background-image: url("../../your_content/images/Icon_Latest2.png");
    grid-area: LatestPage;
}

#comic-support {
    text-align: center;
    margin: 0 auto 15px 0;
    padding: 1px 0 15px 0;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
}

#comic-support h3 {
    color: white;
    line-height: 0.5em;
}

.button {
    display: inline-block;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 1.2em;
    transition: ease 0.2s;
}

.button a {
    color: white;
}

#patreon-button {
    background-color: #F35E36;
}

#patreon-button:hover {
    background-color: #052d49;
    transition: ease 0.2s;
}

#coffee-button {
    background-color: #29ABE0;
    transition: ease 0.2s;
}

#coffee-button:hover {
    background-color: #FBAA19;
    transition: ease 0.2s;
}

#share-button {
    background-color: #68ad43;
    transition: ease 0.2s;
}

#share-button:hover {
    background-color: #e33e2a;
    transition: ease 0.2s;
}

#comic-content {
    background-color: #FDF1DC;
    box-shadow: 0 0 15px black;
    max-width: 75%;
    padding: 30px;
    margin: auto;
}

#comic-post {
    display: grid;
    grid: auto-flow / repeat(auto-fill, minmax(350px, 3fr));
}

#metadata {
    padding: 10px 30px;
    grid-column-start: 1;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    border-right: double 5px #341a09;
    text-align: center;
}

#post-content {
    grid-column-start: 2;
    padding: 20px;
    align-self: center;
}

#post-content p {
    padding-left: 20px;
}

#post-content em {
    font-family: 'Underdog', cursive;
}

#discourse-comments {
    width: 100%;
    display: none;
}

#footer {
    border-top: #341a09 solid 30px;
    font-size: small;
    text-align: center;
    padding: 1em;
}

#footer p {
    color: #FDF1DC;
}