/* ADVANCED OPTIONS -- CHANGE AT YOUR OWN RISK */
/* cd WebstormProjects/comic_git */
/*"C:\Users\artis\AppData\Local\Programs\Python\Python38\python.exe" src\scripts\build_site.py*/
html, body {
    width: 100%;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../../your_content/images/Banner.jpg");
    background-attachment: fixed;
    background-position: center bottom;
    background-size: cover;
}

p, ul, a, em, b, span {
    font-family:'Rubik',sans-serif;
    color: #341a09;
}

h1, h2, h3, h4 {
    font-family: 'Underdog', cursive;
    /*color: #341a09;*/
}

h1 {
    font-size: 2em;
}

h3 {
    font-size: 1.25em;
}

a {
    text-decoration: none;
    color: #68ad43;
    transition: 0.2s ease;
}

a:hover {
    color: #1f6b64;
    transition: 0.2s ease;
}

header {
    display: grid;
    grid-template-areas:
            "logo"
            "comiclinks"
            "social"
            "navigation";
    width: 100%;
    background-image: url("../../your_content/images/Banner.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

#logo {
    grid-area: logo;
    width: 100%;
    max-height: 250px;
    margin: auto;
}

#logo a {
    background-image: url("../../your_content/images/Banner top.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    width: 100%;
    height: 175px;
    display: block;
    margin: auto;
}

#ComicLinks {
    position: relative;
    grid-area: comiclinks;
    display: flex;
    margin: 0 auto 0 auto;
}

#FirstComic {
    top: 18px;
    left: 33px;
}

#LatestComic {
    top: 18px;
    left: 368px;
}

#Flourish {
    width: 50px;
    height: 50px;
    align-self: center;
}

#FirstComic, #LatestComic {
    display: block;
    position: absolute;
    width: 200px;
    height: 150px;
    margin: 10px;
    /*z-index: 4;*/
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0);
    transition: 0.3s ease;
}

#FirstComic a, #LatestComic a {
    display: block;
    width: 200px;
    height: 50px;
    text-align: center;
    padding-top: 50%;
    opacity: 0;
    text-decoration: none;
    font-family: 'Underdog', cursive;
    color: white;
    font-size: x-large;
}

#FirstComic a:hover, #LatestComic a:hover {
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.5);
    transition: 0.3s ease;
}

#FirstComic a:hover, #LatestComic a:hover {
    opacity: 1;
}

header #FirstComicFrame, #LatestComicFrame {
    width: 265px;
    height: 195px;
    margin: 0 10px;
    pointer-events: none;
    color: white;
    text-align: center;
    z-index: 4;
}

#FirstComicFrame h2, #LatestComicFrame h2 {
    margin-top: 3px;
    font-variant: small-caps;
    font-size: 1.3em;
}

header #FirstComic{  background-image: url("../../your_content/images/First_Thumb.png");}
header #FirstComicFrame {  background-image: url("../../your_content/images/First_Frame.png");}
header #LatestComic {  background-image: url("../../your_content/images/Latest_Thumb.png");}
header #LatestComicFrame {  background-image: url("../../your_content/images/Latest_Frame.png");}
header #Flourish { background-image: url("../../your_content/images/vineflourish.png");}

header ul#social-links {
    grid-area: social;
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    /*align-content: flex-end;*/
    margin-bottom: 2px;
    z-index: 2;
    padding-left: 0;
}

header ul#social-links li {
    text-align: center;
    margin: 0 3px 0 3px;
    font-size: x-large;
    width: 30px;
    height: 40px;
    color: #341a09;
}

header ul#social-links li a {
    text-decoration: none;
    width: 30px;
    height: 50px;
    color: #f5debd;
    text-shadow: 0 0 3px #F35E36;
    font-size: x-large;
    transition: 0.2s ease;
    box-sizing: border-box;
}

header #social-links li a:hover {
    color: #fff;
    text-shadow: 0 0 5px #F35E36, 0 0 10px #fffad3;
    font-size: 1.5em;
    transition: 0.2s ease;
}

header ul#social-links li:nth-child(1) a {
    padding-right: 5px;
}

header ul#social-links li a span {
    display: none;
}

header ul#links-menu {
    grid-area: navigation;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    list-style-type: none;
    width: 100%;
    background-color: #341a09;
    z-index: 2;
    margin: 0;
    padding-left: 0;
}

header ul#links-menu li {
    min-width: 40px;
    padding: 0 10px;
    text-align: center;
    margin: 0 1px;
}

header ul#links-menu li a {
    color: #f5debd;
    text-shadow: 0 0 3px #F35E36;
    text-decoration: none;
    font-family: 'Underdog', cursive;
    transition: ease 0.2s;
}

header ul#links-menu li a:hover {
    color: #fff;
    text-shadow: 0 0 2px #F35E36, 0 0 3px #fffad3;
    transition: ease 0.2s;
}

.liveStream {
    display: none;
}

ul#links-menu .liveStream a {
    display: grid;
    grid-template-columns: 8px 1fr;
    grid-gap: 0.5em;
    grid-template-areas:
            "icon label label";
    align-items: center;
}

@keyframes glowing {
    0% {
        text-shadow: 0 0 0;
    }
    40% {
        text-shadow: 0 0 2px #302B54, 0 0 4px #551A8B, 0 0 5px #6B238E	;
    }
    50% {
        text-shadow: 0 0 2px #302B54, 0 0 4px #551A8B, 0 0 5px #6B238E	;
    }
    60% {
        text-shadow: 0 0 2px #302B54, 0 0 4px #551A8B, 0 0 5px #6B238E	;
    }
    100% {
        text-shadow: 0 0 0;
    }
}

@keyframes fading {
    0% {
        opacity: 75%;
    }
    40% {
        opacity: 100%;
    }
    50% {
        opacity: 100%;
    }
    60% {
        opacity: 100%;
    }
    100% {
        opacity: 75%;
    }
}

#links-menu .liveStream .icon-twitch{
    grid-area: icon;
    color: #a767ff;
    animation: glowing 1500ms infinite;
    text-shadow: -1px 0 #5C246E, 0 1px #5C246E, 1px 0 #5C246E, 0 -1px #5C246E;
}

.liveStream h3 {
    grid-area: label;
    color: #c39fff;
    animation: fading 1500ms infinite;
    text-decoration: none;
}

.liveStream:hover {
    /*background-color: #2E0854;*/
    transition: background-color 0.20s;
}

.liveStream h3:hover {
    animation: none;
    color: white;
    transition: color 0.20s;
}

#page {
    background-image: url("../../your_content/images/bgTest3.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    min-height: 100%;
}

.content {
    background-color: #FDF1DC;
    box-shadow: 0 0 15px black;
    max-width: 75%;
    padding: 30px;
    margin: auto;
}

#index-image {
    background-image: url("../../your_content/images/Group Support.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 275px;
    margin: auto;
}

#index-about {
    text-align: center;
    padding: 0 4em;
}

.break {
    width: 100%;
    height: 20px;
}

#index-shop {
    text-align: center;
    padding: 0 4em;
}

#index-shop-image {
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0);
    transition: 0.2s ease;
    background-image: url("../../your_content/images/Books-Merch.png");
    width: 100%;
    height: 358px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

#index-shop-image:hover {
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.5);
    transition: 0.2s ease;
}

#index-shop-image a {
    display: block;
    width: 100%;
    height: 350px;
    opacity: 0;
    transition: 0.2s ease;
    color: white;
    font-family: 'Underdog', cursive;
    font-size: xx-large;
    line-height: 350px
}

#index-shop-image a:hover {
    opacity: 1;
    transition: 0.2s ease;
}

#index-patrons {
    text-align: center;
    padding: 0 4em;
}

#index-patrons p {
    line-height: 1.4em;
}

#patreon-stats {
    padding: 15px;
}

#index-patreon-thanks ul {
    list-style-type: none;
    padding-left: 0;
    font-size: small;
}

#index-patreon-thanks ul li {
    padding-top: 4px;
}

#index-patreon-thanks {
    display: grid;
    grid-template-areas:
        "Special Special Special Special"
        "Five Five Five Five"
        "Four Three Two One"
    ;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: auto;
    gap: 5px 5px;
    margin: auto;
    text-align: center;
    padding: 0 4em;
}

#index-patreon-special {
    grid-area: Special;
    text-align: center;
}

#index-patreon-special p {
    font-size: medium;
}

#patrons-5-years p, #patrons-4-years li, #patrons-3-years li {
    color: white;
}

#patrons-5-years {
    grid-area: Five;
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 5px;
}

#patrons-4-years {
    grid-area: Four;
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 0 15px;
}

#patrons-3-years {
    grid-area: Three;
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 0 15px;
}

#patrons-2-years {
    grid-area: Two;
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 0 15px;
}

#patrons-2-years p, #patrons-1-year p{
    font-size: small;
    color: white;
}

#patrons-1-year {
    grid-area: One;
    background-color: rgba(0,0,0,0.7);
    padding: 0 15px;
    color: white;
}

#archive-blurb {
    text-align: center;
    padding: 0.25em 2em 1em 2em;
    margin-bottom: 1em;
}

#page-title {
    border-bottom: 5px double #341a09;
    padding-left: 0.5em;
}

#archive-Chapter-4 {
    background-image: url("../../your_content/images/Chapter 4.png");
}

.archive-section {
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    height: 125px;
    width: auto;
    margin-bottom: 10px;
}

.archive-section h2 {
    text-indent: -9999px;
    overflow: hidden;
}

.archive-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.archive-thumbnail {
    padding: 10px;
    box-shadow: inset 0 0 0 100vw rgba(52,26,9,0);
    transition: 0.2s ease;
}

.archive-thumbnail:hover {
    box-shadow: inset 0 0 0 100vw rgba(52,26,9,0.8);
    transition: 0.2s ease;
}

.archive-thumbnail-title {
    text-align: center;
}

.archive-thumbnail-post-date {
    display: none;
}

#infinite-Chapter-4 {
    background-image: url("../../your_content/images/Ch4.png");
}

#jump-to-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#loading-infinite-scroll {

}

.infinite-section {
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    height: 125px;
    width: 125px;
    margin: 10px auto;
}

.chapter-links {
    display: block;
    height: 100%;
    width: auto;
    text-indent: -9999px;
    overflow: hidden;
}

#load-older, #load-newer {
    text-align: center;
}

#load-newer-button, #load-older-button {
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 1em;
    border: none;
    transition: ease 0.2s;
    background-color: #68ad43;
    color: white;
    cursor: pointer;
}

#load-newer-button:hover, #load-older-button:hover {
    background-color: #341a09;
}

#caught-up-notification {
    text-align: center;
}

.button {
    display: inline-block;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 1.2em;
    transition: ease 0.2s;
}

.button a {
    color: white;
}

.patreon-button {
    /*background-color: #F35E36;*/
}

.patreon-button a {
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 1.2em;
    transition: ease 0.2s;
    background-color: #F35E36;
}

.patreon-button a:hover {
    background-color: #052d49;
    transition: ease 0.2s;
}

#rogues-gallery {
    display: flex;
    flex-wrap: wrap;
}

.patron-photo {
    height: 200px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    margin: auto;
}

.patron-info {
    line-height: 1.5em;
    text-align: center;
}

.patron-profile {
    width: 200px;
}

.patron-donated-text {
    line-height: 0.2em;
}

.patron-donated {
    line-height: 0.2em;
}

#gillian-photo { background-image: url("../../your_content/images/cast/Gillian.png");}
#winnie-photo { background-image: url("../../your_content/images/cast/Winnie.png");}

#footer {
    border-top: #341a09 solid 30px;
    font-size: small;
    text-align: center;
    padding: 1em;
    height: 100%;
}

#footer p {
    color: #FDF1DC;
}